Others/

node_modules
.env
coverage
coverage.json
typechain

#Hardhat files
cache
artifacts

.openzeppelin

contracts/backup_mainContract.sol
contracts/backup_merchantContract.sol
contracts/backup2_mainContract.sol
contracts/backup2_merchantContract.sol